* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;

  margin: 5px;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
}

.navbar ul li a:hover {
  color: #ccc;
  font-style: italic;
}

.Lawrence-Logo {
  background-color: #fff;
  border-radius: 30%;
  margin-right: 10px;
  color: black;
}

.card a:hover {
  color: #ccc;
  font-style: italic;
}

.introduction {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 10px;
}

.card {
  width: 300px;
  height: auto;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px #333;
}

.card img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px #333;
}

.card h2 {
  color: #fff;
  margin-bottom: 10px;
}

.card p {
  color: #fff;
}

.card a {
  color: #fff;
  text-decoration: underline;
}

main img {
  border-radius: 20px;
}

footer {
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 14px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


